<a href="https://colab.research.google.com/github/Marinagp25/Python/blob/main/05_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("-=-"*20)
print("Paulo")

-=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=-
Paulo

In [ ]:
print("-"*20)
print("Marina Guimarães Pinheiro")
print("Idade: 27 anos")
print("-"*20)
print("-"*20)
print("Marina Guimarães Pinheiro")
print("Idade: 26 anos")
print("-"*20)
print("-"*20)
print("Marina Guimarães Pinheiro")
print("Idade: 25 anos")
print("-"*20)
print("-"*20)
print("Marina Guimarães Pinheiro")
print("Idade: 24 anos")
print("-"*20)
print("-"*20)

--------------------
Marina Guimarães Pinheiro
Idade: 27 anos
--------------------
--------------------
Marina Guimarães Pinheiro
Idade: 26 anos
--------------------
--------------------
Marina Guimarães Pinheiro
Idade: 25 anos
--------------------
--------------------
Marina Guimarães Pinheiro
Idade: 24 anos
--------------------
--------------------

In [ ]:
def mostraLinha():
  print("-"*20)


mostraLinha()
print("Marina Guimarães Pinheiro")
print("Idade: 27 anos")
mostraLinha()
print("Marina Guimarães Pinheiro")
print("Idade: 26 anos")
mostraLinha()
print("Marina Guimarães Pinheiro")
print("Idade: 25 anos")
mostraLinha()
print("Marina Guimarães Pinheiro")
print("Idade: 24 anos")
mostraLinha()

--------------------
Marina Guimarães Pinheiro
Idade: 27 anos
--------------------
Marina Guimarães Pinheiro
Idade: 26 anos
--------------------
Marina Guimarães Pinheiro
Idade: 25 anos
--------------------
Marina Guimarães Pinheiro
Idade: 24 anos
--------------------

In [ ]:
def mensagem(msg):
  print("-"*30)
  print(msg)
  print("-"*30)

mensagem("CETAM")
mensagem("Marina Pinheiro")
mensagem("Curso IA")

------------------------------
CETAM
------------------------------
------------------------------
Marina Pinheiro
------------------------------
------------------------------
Curso IA
------------------------------

In [ ]:
def somaNumeros(a, b):
  s = a + b
  print(s)

somaNumeros(4,5)
somaNumeros(40,5)
somaNumeros(3,7)

9
45
10

In [ ]:
def contador(* num):
  tam =  len(num)
  print("Este é o tamanho dele: ", tam)

contador(2, 3, 4)
contador(2, 3)
contador(3, 4, 6, 8, 3, 7)

Este é o tamanho dele:  3
Este é o tamanho dele:  2
Este é o tamanho dele:  6

In [79]:
def mostrar(n):
  for i in range(10):
    i += 1
    print(str(i)* i)
    
mostrar(8)

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

In [75]:
def soma():
   a = int(input("a = "))
   b = int(input("b = "))
   c = int(input("c = "))
   soma = a + b + c
   print("O valor total é: ", soma)
for i in range(3):
    soma()

a = 7
b = 5
c = 3
O valor total é:  15
a = 13
b = 5
c = 9
O valor total é:  27
a = 7
b = 9
c = 3
O valor total é:  19

In [76]:
def soma(a, b, c):
  s = a + b + c
  print(s)

soma(7, 5, 3)
soma(13, 5, 9)
soma(7, 9, 3)

15
27
19

In [77]:
def trueFalse(a):
  if a > 0:
    print("P")
  else:
    print("N")

trueFalse(-1)
trueFalse(0)
trueFalse(1)

N
N
P