<a href="https://colab.research.google.com/github/Marinagp25/Python/blob/main/25_04_Marina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Mari")
print("Mari")
print("Mari")

Mari
Mari
Mari

In [2]:
for i in range(3):
  print("Mari")

Mari
Mari
Mari

In [5]:
 for i in range(6, 0, -1):
   print(i)
print("FIM")

6
5
4
3
2
1
FIM

In [10]:
for i in range(0,10, 1):
  print("Os valores são: ", i)

Os valores são:  0
Os valores são:  1
Os valores são:  2
Os valores são:  3
Os valores são:  4
Os valores são:  5
Os valores são:  6
Os valores são:  7
Os valores são:  8
Os valores são:  9

In [31]:
valor= int(input("Digite o valor: "))
fim= int(input("Digite o valor: "))
meio = int(input("Digite o valor: "))

for i in range(valor, fim, meio):
  print(i)

Digite o valor: 0
Digite o valor: 21
Digite o valor: 2
0
2
4
6
8
10
12
14
16
18
20

In [57]:
soma = 0
for i in range(4):
  valor = int(input("Digite o valor para ser somado: "))
  soma += valor
print(soma)3

Digite o valor para ser somado: 2
Digite o valor para ser somado: 5
Digite o valor para ser somado: 7
Digite o valor para ser somado: 3
17

In [58]:
for i in range(0, 50, 2):
     print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48