<a href="https://colab.research.google.com/github/Marinagp25/Python/blob/main/Exercicio_If_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
meta_iphone = 50000  #Constante
qtd_venda =  float(input("Quantidade vendida neste mês : ")) #Variável em que recebe valor
                
if qtd_venda > meta_iphone:  # If (Se) qtd_venda for maior que meta_iphone, irá imprimir o que consta dentro de aspas
    print("Batemos a meta de vendas que foi: ", qtd_venda)

Quantidade vendida neste mês : 500000
Batemos a meta de vendas que foi:  500000.0

In [2]:
#Exemplo na qual bate a meta, já com valores incluidos

meta_iphone = 50000 #Constante
qtd_venda =  653000 #Constante
                
if qtd_venda > meta_iphone: # If (Se) qtd_venda for maior que meta_iphone, irá imprimir o que consta dentro de aspas + qtd_vendas da constante
    print("Batemos a meta de vendas que foi: ", qtd_venda)
else: #Else (Senão) irá imprimir o que consta dentro de aspas + qtd_venda + frase dentro de aspas + e qual seria meta_iphone
    print("Infelizmente não batemos a meta, vendemos", qtd_venda, "unidades. A meta era de", meta_iphone, "unidades")

Batemos a meta de vendas que foi:  653000

In [3]:
#Exemplo na qual bate a meta, já com valores incluidos

meta_iphone = 50000 #Constante
qtd_venda =  45300 #Constante
                
if qtd_venda > meta_iphone: # If (Se) qtd_venda for maior que meta_iphone, irá imprimir o que consta dentro de aspas + qtd_vendas da constante
    print("Batemos a meta de vendas que foi: ", qtd_venda)
else: #Else (Senão) irá imprimir o que consta dentro de aspas + qtd_venda + frase dentro de aspas + e qual seria meta_iphone
    print("Infelizmente não batemos a meta, vendemos", qtd_venda, "unidades. A meta era de", meta_iphone, "unidades")

Infelizmente não batemos a meta, vendemos 45300 unidades. A meta era de 50000 unidades