<a href="https://colab.research.google.com/github/Marinagp25/Python/blob/main/Exercicio13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
meta_iphone = 50000
qtd_venda =  float(input("Quantidade vendida neste mês : "))
                
if qtd_venda > meta_iphone:
    print("Batemos a meta de vendas que foi: ", qtd_venda)

Quantidade vendida neste mês : 65300
Batemos a meta de vendas que foi:  65300.0

In [10]:
meta_iphone = 50000
qtd_venda =  653000
                
if qtd_venda > meta_iphone:
    print("Batemos a meta de vendas que foi: ", qtd_venda)
else:
    print("Infelizmente não batemos a meta, vendemos", qtd_venda, "unidades. A meta era de", meta_iphone, "unidades")

Batemos a meta de vendas que foi:  653000

In [13]:
meta_iphone = 50000
qtd_venda =  45300
                
if qtd_venda > meta_iphone:
    print("Batemos a meta de vendas que foi: ", qtd_venda)
else:
    print("Infelizmente não batemos a meta, vendemos", qtd_venda, "unidades. A meta era de", meta_iphone, "unidades")

Infelizmente não batemos a meta, vendemos 45300 unidades. A meta era de 50000 unidades