<a href="https://colab.research.google.com/github/Marinagp25/Python/blob/main/Lista1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Crie um programa que mostre na tela todos os números pares que estão no intervalo entre 1 e 50. Usando FOR.
for i in range(0, 50):
 if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
#Faça um programa que calcule a soma entre todos os números ímpares de 0 até 500. Usando FOR.
for i in range(0, 50):
 if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [1]:
#Desenvolva um programa que leia seis números inteiros e mostre a soma apenas dos números pares. Se for ímpar descartar. Usando FOR.
soma = 0
for i in range(6):
    valor = int(input("Digite algum valor: "))
    if valor % 2 == 0:

     soma += valor
print("A soma dos valores pares: ", soma)

Digite algum valor: 7
Digite algum valor: 9
Digite algum valor: 8
Digite algum valor: 2
Digite algum valor: 5
Digite algum valor: 0
A soma dos valores pares:  10

In [ ]:
#Faça um programa que leia um número inteiro e diga se ele é ou não um número primo. Usando FOR.
num = int(input('Digite um número: '))
primo = 0
for i in range(1, num + 1):
    if num % i == 0:
        primo += + 1
if primo == 2:
    print('PRIMO')
else:
    print('NÃO É PRIMO')

Digite um número: 5
PRIMO

In [16]:
#Faça um programa que leia a idade de 6 pessoas e diga quantas atingiram a maioridade e quantas não atingiram. Usando FOR.
maior = 0
menor = 0

for i in range(6):
    idade = int(input("Digite a idade: "))
    if idade >= 18:
      print("Maior de idade")
      maior += 1
    else:
      print("Menor de idade")
      menor += 1

print('{} pessoas já são adultas e {} pessoas ainda não atingiram a maioridade.'.format(maior, menor))

Digite a idade: 17
Menor de idade
Digite a idade: 15
Menor de idade
Digite a idade: 20
Maior de idade
Digite a idade: 45
Maior de idade
Digite a idade: 3
Menor de idade
Digite a idade: 21
Maior de idade
3 pessoas já são adultas e 3 pessoas ainda não atingiram a maioridade.

In [9]:
#Faça um programa que leia 5 números e informe o maior número. Usando While
num = []

for i in range(5):
    num = input("Digite um valor: ")
    while num == 5: 
      num.append(num)
      print(num)

print(max(num))

Digite um valor: 3
Digite um valor: 5
Digite um valor: 6
Digite um valor: 7
Digite um valor: 8
8

In [44]:
#Faça um programa que calcule a soma entre todos os números ímpares de 0 até 500.

soma = 0
for i in range(0, 500):
  if i % 2 == 1:
   soma += i
print("A soma dos valores: ", soma)

A soma dos valores:  62500

In [53]:
#a. Todos os quadrados menores que n. Por exemplo, se n for 100, imprimir 0 1 4 9 16 25 36 49 64 81.
quadrados=[]
for num in range(0,10):
    quadrados.append(num*num)
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
#b. Todos os números positivos que são divisíveis por 10 e menores que n. Por exemplo, se n for 100, imprimir 10 20 30 40 50 60 70 80 90.

for numero in range(0, 100, +10):
  num = (numero / 10) * 10
  print(num)

0.0
10.0
20.0
30.0
40.0
50.0
60.0
70.0
80.0
90.0

In [90]:
#c. Todas as potências de dois menores que n. Por exemplo, se n for 100, imprimir 1 2 4 8 16 32 64.
valor = 0
for i in range(0, 10, +1):
  i *= 2
  print(i)

0
2
4
6
8
10
12
14
16
18